<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <h1>{{title}}</h1>
    <h2>Things you can do:</h2>
    <ul>
        {{#each features}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</html>
